
/* style.css */

/* --- General Styles --- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
}

/* --- Layout Styles --- */
main {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

section {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #eee;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px;
}

/* --- Text Styles --- */
h1 {
    color: #ffffff;
}

h2 {
    color: #663399;
}

p {
    line-height: 1.6;
}

/* --- Image Styles --- */
img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* --- Margin, Padding, and Borders --- */
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
